@font-face {
  font-family: 'Raleway-Bold';
  src: url("../fonts/Raleway-Bold.woff2");

}

@font-face {
  font-family: 'Raleway-Italic';
  src: url("../fonts/Raleway-Italic.woff2");

}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Regular.woff2");

}
*{
  box-sizing: border-box;
}

html{
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;

}
.flexbox{
  display: flex;
}
.flexbox figure{
  flex-basis: 35%;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}
.flexbox p {
  flex-basis: 65%;
}
.flexbox figure img{
  width: 75%;
}
.containeur{
  max-width: 1000px;
  margin: auto;
  transition: 0.4s;
}
header .containeur{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.containeur ul{
  display: flex;

}
nav a{
  display: block;
  padding: 1em;
}
header{
  padding: 0px 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0px 0px 10px black;
  transition: 0.4s;
}
header, footer{
  background-color: #3a4d73;
}
main, footer{
  padding: 30px;
}
nav, ul{
  list-style: none;
  padding: 0;

}
body{
  background-color: #F2F2F2;
  margin: 0;
  padding-top: 90px;
}
.titre{
  font-size: 3rem;
  text-align: center;
  border: 1px solid red;
}
.titre1, .titre2{
  font-size: 2rem;
}
.banner{
  background-image: url('../images/image1.jpg');
  height: 150px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
p{
  line-height: 1em;
}
a{
  text-decoration: none;
  text-transform: uppercase;
  color: #2C83C5;

}
a:hover{
  text-decoration: underline;
  color: yellow;
}
figcaption{
  font-size: 0.9rem;
}
th, td{
  border: solid 1px black;
  margin: 1em;
  text-align: center;
}
table{
  width: 100%;
  border: 2px;
  border-collapse: collapse;
}
th{
  background-color: lightgrey;
}
footer{
  color: white;
}
.burger{
  display: none;
}

@media screen and (max-width:600px) {
  html{
    font-size: 16px;
  }
  body{
    padding-top: 80px;
  }
  header{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .containeur ul{
    direction: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 65px;
    right: 0;
    background-color: #3a4d73;
  }
  .show-nav .navbar__links{
    width: 100%;
  }
  .containeur ul li a{
    display: block;
    padding: 1rem;
    font-size: 1.6rem;
    transition: all .4s ease-in-out;
  }
  .containeur ul li a:hover{
    padding-left: 2rem;
    letter-spacing: 5px;
  }
  .flexbox{
    flex-direction: column;
  }
  .table-containeur{
    width: 100%;
    overflow: auto;
  }
  .burger{
    display: block;
    width: 42px;
    height: 24px;
    cursor: pointer;
    position: relative;
  }
  .burger span{
    width: 100%;
    height: 4px;
    background-color: black;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;
  }
  .burger span::before, .burger span::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: black;
    transition: transform 0.5s ease-in-out;
  }
  .burger span::before{
    transform: translateY(-10px);
  }
  .burger span::after{
    transform: translateY(10px);
  }
  .burger.active span{
    background-color: transparent;
  }
  .burger.active span::before{
    transform: translateY(0px) rotateZ(45deg);
  }
  .burger.active span::after{
    transform: translateY(0px) rotateZ(-45deg);
  }

}
