@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
*{
  font-family: 'Inconsolata', monospace;
}
li{
  list-style: none;
  padding-right: 15px;
  padding-top: 10px;
}

h1{
  text-align: center;
}

ul{
  display: flex;
  flex-direction: row;

}
nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: lightgrey;

}
nav a{
  text-decoration: none;
  color: black;

}
nav a:hover{
  text-decoration: underline;
  color: green;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20%;
  margin-left: 20%;
  padding-top: 100px;
  padding-bottom: 100px;
}
footer{
  background-color: lightgrey;
}
