@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
  color: white;
  font-family: 'Montserrat', sans-serif;
}
header, footer{
  padding: 10px;
  background-color: grey;
}
body{
  margin: 0;
}
main{
  min-height: 300px;
}
.containeur{
  max-width: 1170px;
}
ul{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;


}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: black;
}
li{
  list-style: none;
  padding-right: 10px;
}
input{
  color: black;
}
label{
  color: black;
}
footer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
}
